doctype html
html
	head
		title="axroctic"
	body

		h1 Welcome User
		a(href='google.com') Google
		|
		|
		a(class='button' href='google.com') Google
		|
		|
		a(class='button', href='google.com') Google
		|
		|
		br
		input(type='checkbox' checked)
		|
		|
		input(type='checkbox' checked=true)
		|
		|
		input(type='checkbox' checked=false)
		|
		|
		input(type='checkbox' checked=true && 'checked')
		input(type='checkbox' name='agreement' checked)
		br
		a(style={color: 'red', background: 'green'}) Selam
		


